.container{
    width: 425px;
	margin: 0px auto;
	padding: 25px 25px;
    border: 1px solid lightgrey;
}
.top-title{
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.title{
    padding: 2px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.group {
    display: flex;
    font-family: sans-serif;
}

label { 
    display: flex;
    padding-top: 12px;
    font-weight: bold;
    font-size: 18px;
    width:120px; 
}
input {
    width: 40px;
    padding: 10px;
    float:left;        
    margin-bottom:10px;
}
.login_form{
	  padding: 15px 15px;
}
.login_form input{
    height: 40px;
    width: 300px;
    padding: 0 2px;
    font-size: 18px;
    outline: none;
    border: 1px solid lightgrey;
}
.login_form button{
    height: 45px;
    width: 400px;
    font-size: 22px;
    color: white;
    outline: none;
    font-weight: bold;
    background: rgb(23, 172, 23);
    border: 1px solid rgb(23, 163, 24);
}
.login_form button:hover{
	  background: green;
}
.checkbox-size{
    margin-top: 6px;
    margin-left: 135px;
}
.cancel{
    height: 45px;
    width: 100px;
    font-size: 20px;
    color: white;
    outline: none;
    background: rgb(231, 25, 25);
    border: 1px solid rgb(233, 75, 75);
    margin-top: 60px;
}
.cancel:hover{
    background: red;
}
*{
    padding: 0;
    margin: 0;
}
